<launch>
        <!-- vim: set ft=xml noet : -->
        <!-- base node launch file-->

        <arg name="pluginlists_yaml" default="$(find mavros)/launch/apm_pluginlists.yaml" />
        <arg name="config_yaml" default="$(find mavros)/launch/apm_config.yaml" />

	<group ns="rpi">

                <node pkg="sensor_drivers" type="sonar_driver" name="sonar_ddriver" />

                <node pkg="sensor_pid" type="sensor_pid_node" name="sensor_pid_node" />

                <node name="pid" pkg="pid" type="controller" >
              		<param name="Kp" value="1.0" />
              		<param name="Ki" value="0.0" />
              		<param name="Kd" value="0.5" />
         	</node>

	</group>

</launch>
