<launch>
	<!-- vim: set ft=xml noet : -->
	<!-- base node launch file-->
	
        <node pkg="sensor_pid" type="sensor_pid_node" name="sensor_pid_node" output="screen" />

        <node name="pid" pkg="pid" type="controller" output="screen" >
              <param name="Kp" value="1.0" />
              <param name="Ki" value="0.0" />
              <param name="Kd" value="0.5" />
         </node>


        <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
        args="/control_effort/data /state/data /setpoint/data" />

        <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />

</launch>
